@import '../../../styles/mixin.scss';
@mixin modalSetting($visible: true) {
  @if $visible {
    animation: slideUp 0.25s ease-out forwards;
  } @else {
    animation: slideDown 0.25s ease-out forwards;
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: modal-bg-show;
  .offClick {
    font-size: 2rem;
    text-align: right;
  }
  .modalOpen {
    width: 80%;
    height: 90%;
    background-color: #fff;
    @include modalSetting($visible: true);
    padding: 16px;
    border-radius: 0.8rem;
  }

  .modalClose {
    @include modalSetting;
  }
  .modalHeader {
    text-align: center;
    font-size: 3rem;
  }
  .logoImg {
    width: 5rem;
    height: 5rem;
  }
  .headerContentBox {
    display: flex;
    font-family: none;
    font-weight: bold;
    .headerContent {
      font-size: 1.125rem;
      margin: 0.5rem 0 0 0.5rem;
      .headerContentList {
        margin-bottom: 0.5rem;
      }
    }
  }
  .listOneHeader {
    font-size: 1.5rem;
    margin-bottom: 1.5%;
  }
  .listTwoHeader {
    font-size: 1.5rem;
    margin-bottom: 1.5%;
  }
  .listThreeHeader {
    font-size: 1.5rem;
    margin-bottom: 1.5%;
  }
  .listOne {
    font-family: none;
    font-weight: bold;
    li {
      margin-bottom: 0.5rem;
    }
  }
  .listTwo {
    font-family: none;
    font-weight: bold;
    li {
      margin-bottom: 0.5rem;
    }
  }
  .listThree {
    font-family: none;
    font-weight: bold;
    li {
      margin-bottom: 0.5rem;
    }
  }
  @include mobile {
    .modalHeader {
      font-size: 1.5rem;
    }
    .headerContentBox {
      .headerContent {
        font-size: 0.75rem;
      }
    }
    .listOneHeader,
    .listTwoHeader,
    .listThreeHeader {
      font-size: 1.1rem;
    }
    .listOne,
    .listTwo,
    .listThree {
      font-size: 0.75rem;
    }
  }
  @include tablet {
    .modalHeader {
      font-size: 2rem;
    }
    .headerContentBox {
      .headerContent {
        font-size: 0.85rem;
      }
    }
    .listOneHeader,
    .listTwoHeader,
    .listThreeHeader {
      font-size: 1.2rem;
    }
    .listOne,
    .listTwo,
    .listThree {
      font-size: 0.85rem;
    }
  }
  @include desktop {
    .modalHeader {
      font-size: 2.5rem;
    }
    .headerContentBox {
      .headerContent {
        font-size: 0.95rem;
      }
    }
    .listOneHeader,
    .listTwoHeader,
    .listThreeHeader {
      font-size: 1.4rem;
    }
    .listOne,
    .listTwo,
    .listThree {
      font-size: 0.95rem;
    }
  }
  @include huge {
    .modalOpen {
      height: 80%;
    }
    .modalHeader {
      font-size: 3rem;
    }
    .headerContentBox {
      .headerContent {
        font-size: 1.1rem;
      }
    }
    .listOneHeader,
    .listTwoHeader,
    .listThreeHeader {
      font-size: 1.5rem;
    }
    .listOne,
    .listTwo,
    .listThree {
      font-size: 1rem;
    }
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(-100px);
    opacity: 0;
  }
}
