@mixin modalSetting($visible: true) {
  @if $visible {
    animation: slideUp 0.25s ease-out forwards;
  } @else {
    animation: slideDown 0.25s ease-out forwards;
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: modal-bg-show;
  .modalOpen {
    width: 80%;
    height: 90%;
    background-color: #fff;
    @include modalSetting($visible: true);
    padding: 16px;
  }
  .modalClose {
    @include modalSetting;
  }
  .modalHeader {
  }
  .logoImg {
    width: 10%;
    height: 10%;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(-100px);
    opacity: 0;
  }
}
