@import '../../../styles/mixin.scss';
.about {
  width: 100vw;
  height: 100vh;
  background: url('../MainImages/4.jpg') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .center {
    width: 30%;
    position: relative;
    @include mobile {
      width: 70%;
    }
    @media (min-width: 600px) and (max-width: 767px) {
      width: 50%;
    }
    @include tablet {
      width: 50%;
    }
    @media (min-width: 860px) and (max-width: 991px) {
      width: 40%;
    }
    @include desktop {
      width: 40%;
    }
    @media (min-width: 1200px) and (max-width: 1279px) {
      width: 35%;
    }
  }
  .swiper {
    width: 100%;
  }
  .prev {
    position: absolute;
    top: 50%;
    left: -15%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    margin-top: 0px;
  }
  .next {
    margin-top: 0px;
    position: absolute;
    top: 50%;
    right: -15%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
  }
  .card,
  .wrap {
    position: relative;
    width: 100%;
    height: 50vh;
    border-radius: 12px;
  }
  .wrap {
    transition: 1.5s;
    transform-style: preserve-3d;
  }
  .card {
    &:hover {
      .wrap {
        transform: rotateY(180deg);
      }
    }
  }
  .back,
  .front {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0 50%;
    background: #fff;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .front {
    z-index: 1;
    .wecodeImg {
      width: 100%;
      height: 100%;
      border-radius: 12px;
    }
    .interShipImg {
      width: 100%;
      height: 100%;
      border-radius: 12px;
    }
  }
  .back {
    transform: rotateY(180deg) translate(-50%, -50%);
    font-weight: bold;
    text-align: start;
    .backSection {
      padding: 5%;
      .backHeader {
        font-size: 1.5rem;
      }
      .sectionHeader {
        font-size: 1.5rem;
        font-family: none;
        font-weight: bold;
      }
      .backList {
        line-height: 1.5;
        li {
          font-family: none;
        }
      }
      .endText {
        position: fixed;
        bottom: 10%;
      }
    }
  }
  .link {
    width: 100%;
    height: 5vh;
    border-radius: 12px;
    margin-top: 1rem;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .detailBox {
      width: 100%;
      height: 100%;
      .detailLogo {
        width: 100%;
        height: 100%;
        color: black;
      }
      .activeDetail {
        width: 100%;
        height: 60%;
        color: skyblue;
      }
      .activeText {
        text-align: center;
        font-family: none;
        font-weight: bold;
        color: skyblue;
      }
    }
  }
}
