.contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .contactBox {
    display: flex;
    align-items: center;
    .contactContent {
      font-size: 1.5rem;
      line-height: 2;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
