.mySelf {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .mySelfHead {
    width: 50vw;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
  }
  .typingContent {
    font-weight: bold;
    text-align: center;
  }
}
