@import '../../../styles/mixin.scss';
.stacks {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .stacksBox {
    .stacksHeader {
      font-size: 3rem;
      text-align: center;
    }
  }
  .secondLine {
    width: 80%;
    border: 2px solid black;
  }
  .lineBoxOne {
    hr {
      width: 0px;
      height: 5vh;
      border: 2px solid black;
    }
  }
  .lineBoxTwo {
    display: flex;
    hr {
      width: 0px;
      height: 10vh;
      border: 2px solid black;
    }
  }

  .stacksContentsBox {
    display: flex;
    @include mobile {
      font-size: 0.8rem;
    }
    @include tablet {
      font-size: 1.2rem;
    }
    @include desktop {
      font-size: 1.5rem;
    }
    @include huge {
      font-size: 1.5rem;
    }

    .javaScriptBox {
      width: 20%;
      display: flex;
      justify-content: center;
    }
    .reactBox {
      width: 20%;
      display: flex;
      justify-content: center;
    }
    .htmlBox {
      width: 20%;
      display: flex;
      justify-content: center;
    }
    .gitBox {
      width: 20%;
      display: flex;
      justify-content: center;
    }
    .taskBox {
      width: 20%;
      display: flex;
      justify-content: center;
    }
  }
  .contentsBox {
    display: flex;
    @include mobile {
      font-size: 0.8rem;
    }
    @include tablet {
      font-size: 1.2rem;
    }
    @include desktop {
      font-size: 1.5rem;
    }
    @include huge {
      font-size: 1.5rem;
    }
    .javaScriptContentsBox {
      width: 20vw;
      text-align: center;
    }
    .reactContentsBox {
      width: 20vw;
      text-align: center;
    }
    .htmlContentsBox {
      width: 20vw;
      text-align: center;
    }
    .gitContentsBox {
      width: 20vw;
      text-align: center;
    }
    .taskToolBox {
      width: 20vw;
      text-align: center;
    }
  }
}
